$default: #282828;
$bg: #f9fbfc;
$primary: #0099cc;
$accent: #7fad33;
$secondary: #e6ecef;
$error: #ff6666;
$success: #7fad33;
$dark: #414141;
$grey: #616161;

$input-color-default:#282828;
$input-color-active: #929698;
$input-color-hover: #282828;
$input-bg-color: #f0f0f2;
$transparent-light: rgba(255,255,255,0.8);
$transparent-dark: rgba(0,0,0,0.5);
