$default: #282828;
$bg: #f9fbfc;
$primary: #7fad33;
$secondary: #e6ecef;
$error: #ff6666;
$success: #7fad33;
$input-color-default:#282828;
$input-color-active: #929698;
$input-color-hover: #282828;
$input-bg-color: #f0f0f2;
