html {}

body {
  @include main-font;
  background-color: $bg;
  height: 100%;
}

p {
  font-size: $text-m;
}

a {
  color: $primary;
  font-size: $text-m;
}

a:hover, a:active, a:focus {
  color: $primary;
  text-decoration: underline !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: bold;
}

h1 {
  font-size: $text-xl;
}

h2 { 
  font-size: $text-l;
}

textarea {
  min-height: 100px;
}

// TEXT COLOR
.color-primary {
  color: $primary;
}

.color-accent {
  color: $accent;
}

.color-secondary {
  color: $secondary;
}

.color-error {
  color: $error;
}

.color-success {
  color: $success;
}

.color-dark {
  color: $dark;
}

.color-white {
  color: white;
}

// BG COLOR
.bg-primary {
  background-color: $primary;
}

.bg-accent {
  background-color: $accent;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-error {
  background-color: $error;
}

.bg-success {
  background-color: $success;
}

.bg-dark {
  background-color: $dark;
  color: white;
}

// LIST
.list {
  padding: 0;
  list-style-type: none;
}

.list.list-tall li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.list.list-taller li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.list.list-tallest li {
  padding-top: 15px;
  padding-bottom: 15px;
}

// SHADOW
.shadow-1 {
  @include shadow-1;
}

.shadow-2 {
  @include shadow-2;
}

.shadow-3 {
  @include shadow-3;
}

.shadow-4 {
  @include shadow-4;
}

.shadow-5 {
  @include shadow-5;
}

// FONT
// Weight
.font-weight-semi-bold {
  font-weight: 600;
}

.font-weight-semi-bold-italic {
  font-weight: 600;
  font-style: italic;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-bold-italic {
  font-weight: 700;
  font-style: italic;
}

.font-weight-extra-bold {
  font-weight: 800;
}

.font-weight-extra-bold-italic {
  font-weight: 800;
  font-style: italic;
}