html {}

body {
  @include main-font;
  background-color: $bg;
  height: 100%;
}

p {
  font-size: $text-m;
}

a {
  color: $primary;
  font-size: $text-m;
}

a:hover, a:active, a:focus {
  color: $primary;
  text-decoration: underline !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: bold;
}

h1 {
  font-size: $text-xl;
}

h2 { 
  font-size: $text-l;
}

textarea {
  min-height: 100px;
}

// TEXT COLOR
.color-primary {
  color: $primary;
}

.color-accent {
  color: $accent;
}

.color-secondary {
  color: $secondary;
}

.color-error {
  color: $error;
}

.color-success {
  color: $success;
}

.color-dark {
  color: $dark;
}

.color-white {
  color: white;
}

// BG COLOR
.bg-primary {
  background-color: $primary;
}

.bg-accent {
  background-color: $accent;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-error {
  background-color: $error;
}

.bg-success {
  background-color: $success;
}

.bg-dark {
  background-color: $dark;
  color: white;
}
